html
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.css" )

	body
		.container
			nav.navbar.navbar-inverse.navbar-embossed
				.container-fluid
					.navbar-header
						a.navbar-brand(href="#") Logo
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li
								a(href="/auth/facebook") Iniciar Sesion con Facebook

			section
				h1 Awesome Profiles
				p Cuentanos tus logros mas increibles